/* CARD */
.prod-card-container {
  background: #ffffff;
  border-radius: 15px;
  padding: 12px;
  width: 180px; /* ✅ smaller */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.25s;
  cursor: pointer;
}

.prod-card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* IMAGE */
.prod-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  margin-bottom: 10px;
}

.prod-img-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* TITLE */
.prod-title {
  font-size: 14px;
  font-weight: 600;
  color: #0f4c6b;
  margin-bottom: 5px;
}

/* PRICE */
.prod-price {
  color: #f4a300;
  font-weight: bold;
  font-size: 14px;
}

/* BOTTOM */
.prod-bottom {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* RATING */
.prod-rating {
  font-size: 12px;
  color: gold;
}